body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(0, 25, 25);
}

#logo { 
    font-size: 3em;
    text-decoration: none;
    background-color: rgb(194, 194, 194);
    color: rgb(50, 50, 50);
    white-space: wrap;
}

#logo:hover {
  background-color: rgb(194, 194, 194);
  color: rgb(50, 50, 50);
}

main {
  display: flex;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
   
    text-align: center;
    flex-direction: column;
  }
  

  .flex-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
  
    justify-content: center;
    align-items: center;
    font-size: 120%;
    letter-spacing: 3px;
    
    
  }

  .flex-nav a {
    text-decoration: none;
    padding: 14px 20px;
    background-color: rgb(194, 194, 194);
    color: rgb(50, 50, 50);
    flex: 80%;
    white-space: nowrap;
  }

  .flex-nav a:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(194, 194, 194);
  }
    
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 1200px) {
    .flex-nav {
      flex: 100%;
      flex-direction: column;
    }

    .flex-nav a {
      width:100%
      
    }

    #logo {
      font-size: 2em
    }
  }

  @media (max-width: 600px) {
    #logo {
      font-size: 1em
    }
  }